.dot_container {
    position:absolute;
    padding:1px;
    padding:1px;
}

.dot {
    position:relative;
    height:20px;
    width:20px;
    background-color:#000;
    border: solid;
    border-radius:30px;
    border-width: 3px;
    /* float:left; */
    margin:12px -3px 0 0;
    /* text-align: center;
    vertical-align: middle;
    line-height: 52px; */
}

.dot_number {
    position:relative;
    float:left;
}

.line {
	height:3px;
	position:absolute;
}

.supermarket {
    background-image: url(grocery-layout.png);
    background-repeat: no-repeat;
    background-size: 800px 600px;
    width: 800px;
    height: 600px;
}

/* .border-disabled {
    border-color: #f23e5c;
}

.border-enabled {
    border-color: #000000;
} */

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.btn-panel {
    margin: auto;
    width: 50%;
    position: relative;
    left: 74%;
    font-family: Geneva, sans-serif;
    font-size: 24px;
    top: 113px;
}

.legend {
    position: relative;
    left: 99%;
    height: 50%;
    font-family: Geneva, sans-serif;
    font-size: 14px;
}

h3 {
    font-family: Geneva, sans-serif;
    font-size: 24px;
}